export const BOT_PREFIX = '-';
export const BOT_TOKEN = 'suPErseCrEtBOTTokEN';
export const BOT_VERSION = '1.0';

export const YTDL_CONFIG: { highWaterMark: any } = {
  highWaterMark: 1 << 25,
};

export const DISPATCHER_CONFIG: { bitrate: 'auto'; fec: true; highWaterMark: 1; volume: false; type: 'webm/opus' } = {
  bitrate: 'auto',
  fec: true,
  highWaterMark: 1,
  volume: false,
  type: 'webm/opus',
};
