export const BOT_PREFIX = '-';
export const BOT_TOKEN = 'suPErseCrEtBOTTokEN';
export const BOT_VERSION = '1.0';

export const DISPATCHER_CONFIG: { bitrate: 'auto'; volume: false; type: 'webm/opus' } = {
  bitrate: 'auto',
  volume: false,
  type: 'webm/opus',
};

export const PG_CONFIG = {
  host: 'DatabaseHostname',
  user: 'DatabaseUser',
  password: 'dATAbAsEPAsSwoRD',
  database: 'public',
  max: 50,
};
